@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #daf1de;
  --foreground: #daf1de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #daf1de;
    --foreground: #daf1de;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  overflow-x: hidden;
}

#__next {
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
